body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FF5722;
    position: relative;
    animation: bounce 1.5s linear infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(200px); }
}

#platform {
    width: 500px;
    height: 10px;
    background-color: black;
    margin-top: 200px;
}
